{% load static %}
{% include "header.html" %}

    <div class="hero-wrap" style="background-image: url({% static 'images/S7.jpg' %}); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section-2">
      <div class="container-fluid d-flex">
        <div class="section-2-blocks-wrapper row no-gutters">
          <div class="img col-sm-12 col-lg-6" style="background-image: url({% static 'images/S6.jpg' %});">
          </div>
          <div class="text col-lg-6 ftco-animate">
            <div class="text-inner align-self-start">
 <h3>Welcome to ShopSmart - Your One-Stop E-Commerce Destination</h3>
          <p>At ShopSmart, we bring you a wide range of products to make your shopping experience seamless. From electronics to fashion, we have it all. Our mission is to provide you with top-quality products and exceptional service.</p>
          <p>Explore our diverse catalog and discover the latest trends and must-have items, all available at your fingertips. ShopSmart is here to make shopping enjoyable and convenient for everyone.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Best-Selling Products</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url({% static 'images/S6.jpg' %});">
	                <div class="box">
	                  <h2>Smart TV</h2>
                      <p>Latest Model</p>
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->
	                <blockquote>
                <p>&ldquo;This smartphone is a game-changer with its advanced features and sleek design. It's a must-have for tech enthusiasts.&rdquo;</p>
	                </blockquote>
	                <div class="author d-flex">
	                  <div class="image mr-3 align-self-center">
	                    <div class="img" style="background-image: url({% static 'images/S7.jpg' %});"></div>
	                  </div>
	                  <div class="name align-self-center">Smart TV <span class="position">Latest Model</span></div>
	                </div>
	              </div>
	            </div>
	          </div> <!-- .flip-container -->
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">
	            <div class="flipper">
	              <div class="front" style="background-image: url({% static 'images/S7.jpg' %});">
	                <div class="box">
	                   <h2>Fashionable Jacket</h2>
                        <p>Trendy & Stylish</p>
	                </div>
	              </div>
	              <div class="back">


	                <div class="author d-flex">
	                  <div class="image mr-3 align-self-center">
	                    <div class="img" style="background-image: url({% static 'images/S7.jpg' %});"></div>
	                  </div>

	              </div>
	            </div>
	          </div> <!-- .flip-container -->
	        </div>


        </div>

    	</div>
      </section>




    <section class="ftco-section testimony-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Testimonials</h2>
          </div>
        </div>
        <div class="row">
      <div class="col-md-12 ftco-animate" style="max-height:100vh;">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">"ShopSmart's customer support team is fantastic. They resolved my issue quickly and were very helpful throughout the process."</p>
                <p class="name">Sophia Lee</p>
                <span class="position">Happy Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Patient</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_3.jpg' %}) ">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">"The variety of products at ShopSmart is impressive. I always find exactly what I'm looking for and at great prices."</p>
                <p class="name">Lucas Davis</p>
                <span class="position">Frequent Buyer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center">
                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_3.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">"I love shopping at ShopSmart! The website is easy to navigate, and the delivery is always on time. Highly recommend."</p>
                <p class="name">James Smith</p>
                <span class="position">Regular Shopper</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  {% include "footer.html" %}