<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo form</title>
</head>
<body>
{% load static %}
{% include "vendor_header.html" %}

    <div class="hero-wrap" style="background-image: url({% static 'images/S21.jpg' %}); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <h1 class="mb-3 bread">Add Product Here</h1>
          </div>
        </div>
      </div>
    </div>

   <section class="ftco-section contact-section ftco-degree-bg">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">


        <div class="row block-9">
          <div class="col-md-6 pr-md-5">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label>Email:</label><input type="email" class="form-control" readonly value="{{email}}" placeholder="Your Email" name="email" required>
              </div>
              <div class="form-group">
                <label>Title:</label><input type="text" class="form-control" placeholder="Title" name="title" required>
              </div>



              <div class="form-group">
    <label class="text">Category:</label>
    <select name="category" class="form-control" required>
        {% for x in category %}
        <option value="{{x.title}}">{{x.title}}</option>
        {% endfor %}
    </select>
</div>


              <div class="form-group">
                <label>Orign:</label><input type="text" class="form-control" placeholder="orign" name="orign" required>
              </div>
              <div class="form-group">
                <label>Price:</label><input type="number" class="form-control" placeholder="Price" name="price" required>
              </div>
              <div class="form-group">
                <label>Image:</label><input type="file" class="form-control" placeholder="image" name="image" required>
              </div>
               <div class="form-group">
                <label>Description:</label><input type="text" class="form-control" placeholder="Description" name="description" required>
              </div>
              <div class="form-group">
                <label>Brand:</label><input type="text" class="form-control" placeholder="Brand" name="brand" required>
              </div>
              <div class="form-group">
                <label>Model:</label><input type="text" class="form-control" placeholder="Model" name="model" required>
              </div>
              <div class="form-group">
                <label>Discount:</label><input type="number" class="form-control" placeholder="Discount" name="discount" required>
              </div>
              <div class="form-group">
                <label>Specification:</label><input type="text" class="form-control" placeholder="Specification" name="specification" required>
              </div>
                <div class="form-group">
                <label>Warranty:</label><input type="text" class="form-control" placeholder="Warranty" name="warranty" required>
              </div>


              <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-primary py-3 px-5" placeholder="registered" required>
              </div>
                 </form>

               </div>


          </div>
         {{msg}}
        </div>
      </div>

        </div>

      </div>

     </section>



</body>
</html>
{% include "footer.html" %}