<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo form</title>
</head>
<body>
{% load static %}
{% include "customer_header.html" %}

    <div class="hero-wrap" style="background-image: url({% static 'images/S17.png' %}); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <h1 class="mb-3 bread">Add Orders</h1>
          </div>
        </div>
      </div>
    </div>

   <section class="ftco-section contact-section ftco-degree-bg">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">


        <div class="row block-9">
          <div class="col-md-6 pr-md-5">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Product" name="product" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="category" name="title" required>
              </div>

              <div class="form-group">
                <input type="number" class="form-control" placeholder="Quantity" name="quantity" required>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Cost" name="cost" required>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Discount" name="discount" required>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Total Price" name="total" required>
              </div>
               <div class="form-group">
                <input type="email" class="form-control" placeholder="Customer Email" name="customer_mail" required>
              </div>
               <div class="form-group">
                <input type="email" class="form-control" placeholder="Vendor Email" name="vendor_mail" required>
              </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Address" name="address" required>
              </div>
                <div class="form-group">
                <input type="date" class="form-control" placeholder="Delivery Date" name="delivery_date" required>
              </div>
                <div class="form-group">
                <input type="datetime-local" class="form-control" placeholder="Order DateTime" name="order_datetime" required>
              </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Status" name="status" required>
              </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Reason" name="reason" required>
              </div>
                 <div class="form-group">
                <input type="submit" value=" Order " class="btn btn-primary py-3 px-5" placeholder="registered" required>
              </div>
            </form>

          </div>
         {{msg}}
          <div class="col-md-6" id="map"></div>
        </div>
      </div>
      </section>


</body>
</html>
{% include "footer.html" %}