{% load static %}
{% include "customer_header.html" %}

    <div class="hero-wrap" style="background-image: url({% static 'images/S25.jpg' %}); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <h1 class="mb-3 bread"> View Preference</h1>
          </div>
        </div>
      </div>
    </div>

          </div>

<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">PREFERENCES</h2>
          </div>
        </div>
        <div class="row">
            {% for x in profile %}
        	<div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-2">

	            <div class="flipper">
            <div class="front" style="background-image: url('{{ x.image.url }}');">
                    <div class="box">
	                  <h2>{{x.category}}</h2>
	                  <p>{{x.title}}</p>
					  <p>{{x.brand}}</p>
						<P>{{x.price}}</P>
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->
					  <blockquote>
						  <div class="card">
  <div class="card-body">
	                  <p><b>Product</b>{{x.title}},{{x.brand}},{{x.price}},</p>
  </div>
						  </div>
					</blockquote>
	                <div class="author d-flex">
						  <!-- Add Cart Button Form -->
             <a href="{% url 'add_to_cart' id=x.id %}" class="btn btn-success">Add Cart</a>
	                  <div class="image mr-3 align-self-center">

						  <div class="img" style="background-image: url({% static 'images/ac new.PNG' %});"></div>
	                  </div>

						<div class="name align-self-center">telivision <span class="position">Entertainment</span></div>
	                </div>
	              </div>
	            </div>

	          </div> <!-- .flip-container -->
	        </div>
            {% endfor %}
        </div>

    	</div>
    </section>
		</tr>
	</tbody>
</div>

{% include "footer.html" %}
