{% load static %}
{% include "customer_header.html" %}

    <div class="hero-wrap" style="background-image: url({% static 'images/S16.jpg' %}); background-attachment:fixed;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <h1 class="mb-3 bread">View Friend Requests</h1>
          </div>
        </div>
      </div>
    </div>


              <div class="m-3">
            <table class="table table-bordered">
    <thead>
       <tr style="background-color:black">
           <th>ID</th>
           <th>EMAIL</th>
           <th>STATUS</th>

       </tr>
    </thead>

    <tbody>
    {% for x in requests %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.from_email}}</td>
            <td>{% if x.status == 'Pending' %}
              <a href="{% url 'accept_request' id=x.id %}" class="btn btn-success" >Accept</a> <br><br>
              <a class="btn btn-danger" href="{% url 'reject_request' id=x.id %}">Reject</a>
              {% elif x.status == 'Accepted' %}
              <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Accepted</button>
              {% else %}
              <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Rejected</button>
            {% endif %}</td>



        </tr>
    {% endfor %}
    </tbody>



</table></div>


          </div>



{% include "footer.html" %}