{% load static %}
{% include "vendor_header.html" %}

<div class="hero-wrap" style="background-image: url({% static 'images/S22.jpg' %}); background-attachment:fixed;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-8 ftco-animate text-center">
        <h1 class="mb-3 bread"> Products</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Our Cart</h2>
      </div>
    </div>
    <div class="row">
      {% for x in profile %}
        <div class="col-md-6 col-lg-3 ftco-animate">
          <div class="block-2">
            <div class="flipper">
              <div class="front" style="background-image: url('{{ x.image.url }}');">
                <div class="box">
                  <h2>{{x.category}}</h2>
                  <p>{{x.title}}</p>
                  <p>{{x.brand}}</p>
                  <p>{{x.price}}</p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <blockquote>
                  <!-- Delete Button Form -->
                  <center><form action="{% url 'delete_view_product' id=x.id %}" onclick="return confirm('Really Do You Want Deactivate?')" method="post" style="display:inline;">
                    {% csrf_token %}
<button type="submit" class="btn btn-danger" style="margin-top: 5px;">Delete</button>
                  </form>



                   <!-- Update Button Form -->

                  <form action="{% url 'product_edit' id=x.id %}" method="get" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Update</button>
                  </form></center>
                    <div class="card">
                     <div class="card-body">

                  <p><b>Product: </b>{{x.title}}, {{x.brand}}, {{x.price}}, {{x.warranty}},{{x.category}},{{x.price}},{{x.brand}},{{x.model}},{{x.discount}},{{x.specification}},{{x.orign}}</p>
                           </div>
</div>
                </blockquote>
                <div class="author d-flex">
                  <div class="image mr-3 align-self-center">
                    <div class="img" style="background-image: url({% static 'images/ac new.PNG' %});"></div>
                  </div>
                  <div class="name align-self-center">telivision <span class="position">Entertainment</span></div>
                </div>
              </div>
            </div>
          </div> <!-- .flip-container -->
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include "footer.html" %}

